<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cfg-NET" version="0.7.4" targetFramework="net45" />
  <package id="JavaScriptEngineSwitcher.ChakraCore" version="2.0.0" targetFramework="net452" />
  <package id="JavaScriptEngineSwitcher.Core" version="2.0.0" targetFramework="net452" />
</packages>