@using Pipeline.Web.Orchard.Models
@using Transformalize.Contracts
@model ReportViewModel

@{
    AppendMeta("description", "Anonymous", ",");
    Layout.Title = "Anonymous";
}

@foreach (var logEntry in Model.Process.Log.Where(le => le.LogLevel == LogLevel.Error)) {
    <div class="alert alert-danger" role="alert">@logEntry.Message</div>
}

@foreach (var logEntry in Model.Process.Log.Where(le => le.LogLevel == LogLevel.Warn)) {
    <div class="alert alert-warning" role="alert">@logEntry.Message</div>
}