<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <packageSources>
      <clear />
      <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
      <add key="MyGet Transformalize" value="https://www.myget.org/F/transformalize/api/v3/index.json" />
   </packageSources>
   <disabledPackageSources />
   <packageSourceMapping>
      <packageSource key="MyGet Transformalize">
         <package pattern="Transformalize.*" />
         <package pattern="Cfg-NET.*" />
      </packageSource>
      <packageSource key="NuGet">
         <package pattern="*" />
      </packageSource>
   </packageSourceMapping>
</configuration>
