<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net462" />
  <package id="Cfg-NET" version="0.11.0" targetFramework="net462" />
  <package id="Cfg-NET.Environment" version="0.3.5" targetFramework="net462" />
  <package id="Cfg-NET.Reader" version="0.3.4" targetFramework="net462" />
  <package id="Cfg-NET.Shorthand" version="0.2.12" targetFramework="net462" />
  <package id="DateMath" version="1.1.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net462" />
</packages>