<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net452" />
  <package id="Cfg-NET" version="0.10.3" targetFramework="net452" />
  <package id="Dapper" version="1.50.5" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="PoorMansTSQLFormatter" version="1.4.3.1" targetFramework="net452" />
  <package id="Transformalize" version="0.3.4-beta" targetFramework="net452" />
  <package id="Transformalize.Provider.Ado" version="0.3.5-beta" targetFramework="net452" />
  <package id="Transformalize.Provider.SqlServer" version="0.3.4-beta" targetFramework="net452" />
</packages>