<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net4" />
  <package id="Cfg-NET" version="0.7.4" targetFramework="net45" />
  <package id="Cfg-NET.Environment" version="0.0.3" targetFramework="net45" />
  <package id="Cfg-NET.Reader" version="0.1.1" targetFramework="net45" />
  <package id="Cfg-NET.Shorthand" version="0.0.6" targetFramework="net45" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net45" />
  <package id="Quartz" version="2.3.3" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.102.0" targetFramework="net45" />
</packages>