<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.1.1" targetFramework="net452" />
  <package id="Cfg-NET" version="0.7.4" targetFramework="net45" />
  <package id="Cfg-NET.Environment" version="0.0.4" targetFramework="net452" />
  <package id="Cfg-NET.Reader" version="0.1.1" targetFramework="net45" />
  <package id="Cfg-NET.Shorthand" version="0.0.6" targetFramework="net45" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net45" />
  <package id="Humanizer" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.af" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.ar" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.bg" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.bn-BD" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.cs" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.da" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.de" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.el" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.es" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.fa" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.fi-FI" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.fr" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.fr-BE" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.he" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.hr" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.hu" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.id" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.it" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.ja" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.nb" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.nb-NO" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.nl" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.pl" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.pt" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.ro" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.ru" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.sk" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.sl" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.sr" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.sr-Latn" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.sv" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.tr" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.uk" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.uz-Cyrl-UZ" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.uz-Latn-UZ" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.vi" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.zh-CN" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.zh-Hans" version="2.1.0" targetFramework="net452" />
  <package id="Humanizer.Core.zh-Hant" version="2.1.0" targetFramework="net452" />
  <package id="JavaScriptEngineSwitcher.ChakraCore" version="2.0.0" targetFramework="net452" />
  <package id="JavaScriptEngineSwitcher.Core" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.NETCore.Platforms" version="1.0.1" targetFramework="net45" />
  <package id="NETStandard.Library" version="1.6.0" targetFramework="net45" />
  <package id="Quartz" version="2.4.1" targetFramework="net452" />
  <package id="System.Collections" version="4.0.11" targetFramework="net45" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net45" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.103" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net45" />
  <package id="System.Diagnostics.Tools" version="4.0.1" targetFramework="net45" />
  <package id="System.Diagnostics.Tracing" version="4.1.0" targetFramework="net45" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net45" />
  <package id="System.IO" version="4.1.0" targetFramework="net45" />
  <package id="System.IO.Compression" version="4.1.0" targetFramework="net45" />
  <package id="System.Linq" version="4.1.0" targetFramework="net45" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net45" />
  <package id="System.Net.Http" version="4.1.0" targetFramework="net45" />
  <package id="System.Net.Primitives" version="4.0.11" targetFramework="net45" />
  <package id="System.ObjectModel" version="4.0.12" targetFramework="net45" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net45" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net45" />
  <package id="System.Reflection.Primitives" version="4.0.1" targetFramework="net45" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net45" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net45" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net45" />
  <package id="System.Runtime.Numerics" version="4.0.1" targetFramework="net45" />
  <package id="System.Text.Encoding" version="4.0.11" targetFramework="net45" />
  <package id="System.Text.Encoding.Extensions" version="4.0.11" targetFramework="net45" />
  <package id="System.Text.RegularExpressions" version="4.1.0" targetFramework="net45" />
  <package id="System.Threading" version="4.0.11" targetFramework="net45" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net45" />
  <package id="System.Xml.ReaderWriter" version="4.0.11" targetFramework="net45" />
  <package id="System.Xml.XDocument" version="4.0.11" targetFramework="net45" />
</packages>