@using Orchard
@using Orchard.Core.Contents
@using Pipeline.Web.Orchard
@using Pipeline.Web.Orchard.Models

@model PipelineConfigurationPart
@{
    AppendMeta("description", Model.Title(), ",");
    Layout.Title = Model.Title();
    Script.Require("jQuery").AtHead();
    Script.Include("https://cdnjs.cloudflare.com/ajax/libs/jquery-autotab/1.9.2/js/jquery.autotab.min.js").AtHead();
    var orchard = WorkContext.Resolve<IOrchardServices>();
}

<style type="text/css">

    .btn-xs, .btn-group-xs > .btn {
        border-radius: 3px;
        font-size: 9px;
        line-height: 1.5;
    }

    #id_busy {
        position: fixed;
        left: 46%;
        top: 40%;
        display: none;
        background: transparent url(@Url.Content("~/Modules/Pipeline.Web.Orchard/Styles/busy.gif"));
        background-size: 149px 149px;
        background-repeat:no-repeat;
        z-index: 1020;
        height: 150px;
        width: 150px;
    }

    #busy-holder {
        background: transparent;
        width: 100%;
        height: 100%;
    }
</style>

@if (orchard.Authorizer.Authorize(Permissions.EditContent)) {
    <div class="btn-group pull-right">
        <button title="edit this form" type="button" class="btn btn-warning btn-sm" onclick="window.open('@(Url.Content("~/Admin/Contents/Edit/" + Model.Id + "?" + Common.ReturnUrlName + "=" + Url.Encode(Request.RawUrl)))', '_self');">
            <span class="glyphicon glyphicon-edit"></span>
        </button>
    </div>
}

<div id="id_content">
</div>

<div id="busy_holder">
    <div id="id_busy"></div>
</div>

<script type="text/javascript" language="javascript">
    //<!--
    $(document).ready(function () {

        var ajaxUrl = "@(Url.Action("FormContent", new { Model.Id}))" + window.location.search;
        var saveUrl = "@(Url.Action("Form", new { Model.Id}))" + window.location.search;

        $(document).bind("ajaxSend", function () {
            $('#id_busy').show();
        }).bind("ajaxComplete", function () {
            $("#id_busy").hide();
        });

        function bind(html) {
            $("#id_content").html(html);
            $("#id_form").attr("action", saveUrl);

            $("select,input").autotab();

            var focus = $('#id_focus').val();
            console.log('setting focus to ' + focus);
            $('#id_' + focus).focus().select();

            $("select,input:not(input[name='submit']):not(input[type='file'])").change(function () {
                console.log("checking data...");
                post();
            });

            $("select,input:not(input[name='submit'])").keypress(function (event) {
                if (event.which === 13) {
                    event.preventDefault();
                    var inputs = $(this).closest('form').find(':input');
                    inputs.eq(inputs.index(this) + 1).focus();
                }
            });

            $("select,input:not(input[name='submit'])").focusin(function () {
                $("#id_focus").val($(this).attr("name"));
                console.log($(this).attr("name") + " has focus");
            });

        }

        $.get(ajaxUrl, function (html) {
            bind(html);
        }, "html");

        function post() {
            $.ajax({
                url: ajaxUrl,
                type: "POST",
                data: $("#id_form").serialize(),
                success: function (html) {
                    bind(html);
                },
                error: function (html) {
                    bind(html);
                }
            }, "html");
        }

        function removeMessages() {
            $(".zone-messages").fadeOut();
        }
        setTimeout(removeMessages, 5000);

    });
    //-->
</script>