@using Pipeline.Web.Orchard.Models

@model PipelineConfigurationPart
@{
    AppendMeta("description", Model.Title(), ",");
    Layout.Title = Model.Title();
}

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<style type="text/css">

    .btn-xs, .btn-group-xs > .btn {
        border-radius: 3px;
        font-size: 9px;
        line-height: 1.5;
    }

    #id_busy {
        position: fixed;
        left: 46%;
        top: 40%;
        display: none;
        background: transparent url(@Url.Content("~/Modules/Pipeline.Web.Orchard/Styles/busy.gif"));
        background-size: 149px 149px;
        background-repeat:no-repeat;
        z-index: 1020;
        height: 150px;
        width: 150px;
    }

    #busy-holder {
        background: transparent;
        width: 100%;
        height: 100%;
    }
</style>

<div id="id_content">
</div>

<div id="busy_holder">
    <div id="id_busy"></div>
</div>

<script type="text/javascript" language="javascript">
    //<!--
    $(document).ready(function () {

        var url = "@(Url.Action("FormContent", new { Model.Id}))";

        function bind(html) {
            $("#id_content").html(html);

            $(".select").change(function () {
                $('#id_busy').show();
                // this.form.submit();
                console.log("checking data...");
                $.ajax({
                    url: url,
                    type: "POST",
                    data: $("#id_form").serialize(),
                    success: function(html) {
                        $('#id_busy').hide();
                        bind(html);
                    },
                    error: function (html) {
                        $('#id_busy').hide();
                         bind(html);
                    }
                }, "html");
            });

            $("#id_form").submit(function (event) {
                event.preventDefault();
                $('#id_busy').show();
                console.log("submitting data");
                this.submit();
            });

            $("input").keypress(function (event) {
                if (event.which === 13) {
                    event.preventDefault();
                    var inputs = $(this).closest('form').find(':input');
                    inputs.eq(inputs.index(this) + 1).focus();
                }
            });

        }

        $.get(url, function (html) {
            bind(html);
        }, "html");

        function removeMessages() {
            $(".zone-messages").fadeOut();
        }
        setTimeout(removeMessages, 5000);

    });
    //-->
</script>