<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="logs/nlog-internal.log" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

   <rules>
      <logger name="*" minlevel="Info" writeTo="console" xdt:Transform="Insert" />
      <logger name="*" minlevel="Info" writeTo="file" xdt:Transform="Insert" />
   </rules>

</nlog>