<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" 
      internalLogFile="logs/nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    
    <!-- note: the file name is prepended with a slugified configuration file or web address reference -->
    <target name="file"
            xsi:type="File"
            fileName="logs/${date:format=yyyy-MM-dd}.txt"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${message}" />
    
    <target name="mailBuffer"
            xsi:type="BufferingWrapper"
            slidingTimeout="true"
            bufferSize="70"
            flushTimeout="50000">
      
      <!-- you'll want to change this -->
      <target name="mail"
              xsi:type="Mail"
              html="true"
              replaceNewlineWithBrTagInHtml="true"
              smtpServer="mail.mwf.local"
              from="donotreply@scope-services.com"
              subject="TFL Error"
              to="dnewman@scope-services.com" />
    </target>
   
    <!-- note: the console output may be suppressed if running tfl process with console output -->
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${message}" />
    
  </targets>

   <rules>
      <!-- add your logging rules here -->
      <!-- you can add loggers named after your transformalize arrangement name to capture output using log provider -->
   </rules>

</nlog>