<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net462" />
  <package id="Cfg-NET" version="0.13.3-beta" targetFramework="net462" />
  <package id="Cfg-NET.Environment" version="0.13.2-beta" targetFramework="net462" />
  <package id="Cfg-NET.Reader" version="0.13.3-beta" targetFramework="net462" />
  <package id="Cfg-NET.Shorthand" version="0.13.2-beta" targetFramework="net462" />
  <package id="DateMath" version="1.2.0" targetFramework="net462" />
</packages>