<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="transformalize" type="Transformalize.Configuration.TransformalizeConfiguration, Transformalize" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <transformalize>
    <processes>

      <add name="Test" output="OrderDetail" time="Time">
        <connections>
          <add name="input" value="Server=localhost;Database=TestInput;Trusted_Connection=True;" year="2005" inputBatchSize="500" outputBatchSize="1000"/>
          <add name="output" value="Server=localhost;Database=TestOutput;Trusted_Connection=True;" year="2005" inputBatchSize="500" outputBatchSize="1000"/>
        </connections>
        <entities>
          
          <add name="OrderDetail" connection="input" version="RowVersion">
            <primaryKey>
              <add name="OrderDetailKey" type="System.Int32"></add>
            </primaryKey>
            <fields>
              <add name="OrderKey" type="system.Int32"></add>
              <add name="ProductKey" type="System.Int32"></add>
              <add name="Qty" alias="Quantity" type="System.Int32" ></add>
              <add name="Price" type="System.Decimal" precision="10" scale="5"></add>
              <add name="Properties">
                <xml xPath="/Properties/">
                  <add xPath="Color" index="1"></add>
                  <add xPath="Size"></add>
                  <add xPath="Gender"></add>
                </xml>
              </add>
              <add name="RowVersion" type="System.Byte[]" length="8" input="false" output="false"></add>
            </fields>
          </add>
          
          <add name="Order" connection="input" version="RowVersion">
            <primaryKey>
              <add name="OrderKey" type="System.Int32"></add>
            </primaryKey>
            <fields>
              <add name="CustomerKey" type="System.Int32"></add>
              <add name="OrderDate" type="System.DateTime"></add>
              <add name="RowVersion" type="System.Byte[]" length="8" input="false" output="false"></add>
            </fields>
          </add>
          
          <add name="Customer" connection="input" version="RowVersion">
            <primaryKey>
              <add name="CustomerKey" type="System.Int32"></add>
            </primaryKey>
            <fields>
              <add name="First" alias="FirstName" length="50"></add>
              <add name="Last" alias="LastName" length="50"></add>
              <add name="Address" length="100">
              </add>
              <add name="City" length="50">
                <transforms>
                  <add method="insert" index="0" value="Town ofs "></add>
                  <add method="remove" startIndex="7" length="1"></add>
                  <add method="replace" oldValue="Town" newValue="City"></add>
                  <add method="trimStart" trimChars="Ci"></add>
                </transforms>
              </add>
              <add name="State" length="2"></add>
              <add name="Country" length="2"></add>
              <add name="RowVersion" type="System.Byte[]" length="8" input="false" output="false"></add>
            </fields>
          </add>
          
          <add name="Product" connection="input" version="RowVersion">
            <primaryKey>
              <add name="ProductKey" type="System.Int32"></add>
            </primaryKey>
            <fields>
              <add name="Name" alias="ProductName" length="100" default="None"></add>
              <add name="RowVersion" type="System.Byte[]" length="8" input="false" output="false"></add>
            </fields>
          </add>
        
        </entities>
        
        <joins>
          <add leftEntity="OrderDetail" leftField="OrderKey" rightEntity="Order" rightField="OrderKey"></add>
          <add leftEntity="OrderDetail" leftField="ProductKey" rightEntity="Product" rightField="ProductKey"></add>
          <add leftEntity="Order" leftField="CustomerKey" rightEntity="Customer" rightField="CustomerKey"></add>
        </joins>
      </add>

      <add name="DslPj" output="ProjTran" time="ProjTime">

        <connections>
          <add name="ScopeApp1" value="Server=SSDBS;Database=SCOPEAPP1;Trusted_Connection=True;Application Name=TFL;"/>
          <add name="ScopeSys" value="Server=SSDBS;Database=SCOPESYS;Trusted_Connection=True;Application Name=TFL;"/>
          <add name="output" value="Server=SSSQL;Database=TransformalizeDsl;Trusted_Connection=True;Application Name=TFL;" year="2005"/>
        </connections>

        <entities>
          <add name="PJTRAN" connection="ScopeApp1" version="tstamp">
            <primaryKey>
              <add name="fiscalno" length="6"></add>
              <add name="system_cd" length="2"></add>
              <add name="batch_id" length="10"></add>
              <add name="detail_num" type="System.Int32"></add>
            </primaryKey>
            <fields>
              <add name="batch_type" alias="BatchType" length="4" default="None"></add>
              <add name="fiscalno" alias="FiscYear" type="System.Int16">
                <transforms>
                  <add method="left" length="4"></add>
                </transforms>
              </add>
              <add name="fiscalno" alias="FiscPrd" length="2">
                <transforms>
                  <add method="right" length="2"></add>
                </transforms>
              </add>
              <add name="gl_acct" alias="GlAcct" length="10"></add>
              <add name="Project" length="16" default="None"></add>
              <add name="Acct" length="16" default="None"></add>
              <add name="CpnyID" length="10" default="None"></add>
              <add name="employee" alias="EmpId" length="10" default="None"></add>
              <add name="vendor_num" alias="VendorNo" length="15" default="None"></add>
              <add name="Amount" type="System.Decimal" default="0" precision="12" scale="2"></add>
              <add name="Units" type="System.Decimal" default="0" precision="10" scale="1"></add>
              <add name="tstamp" type="System.Byte[]" length="8" input="false" output="false"></add>
            </fields>
          </add>

          <add name="Company" connection="ScopeSys" version="tstamp">
            <primaryKey>
              <add name="CpnyID" length="10"></add>
            </primaryKey>
            <fields>
              <add name="CpnyName" length="30" default="None"></add>
              <add name="State" length="4" default="None"></add>
              <add name="tstamp" type="System.Byte[]" length="6" input="false" output="false"></add>
            </fields>
          </add>

        </entities>

        <joins>
          <add leftEntity="PJTRAN" leftField="CpnyID" rightEntity="Company" rightField="CpnyID"></add>
        </joins>

      </add>

    </processes>
  </transformalize>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="false">
      <target name="file" xsi:type="File" fileName="${basedir}/nlog/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/Transformalize.log" layout="${date:format=HH\:mm\:ss} | ${level} | ${message}" />
      <target xsi:type="BufferingWrapper" name="mailBuffer" slidingTimeout="True" bufferSize="100" flushTimeout="120000">
        <target name="mail" xsi:type="Mail" smtpServer="mail.mwf.local" from="dnewman@scope-services.com" subject="Transformalize Error!" to="dnewman@scope-services.com" />
      </target>
      <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} | ${level} | ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="console" />
      <logger name="*" minlevel="Info" writeTo="file" />
      <logger name="*" minlevel="Error" writeTo="mail" />
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>  

</configuration>