<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="transformalize" type="Transformalize.Configuration.TransformalizeConfiguration, Transformalize"/>
    <section name="nlog" type="Transformalize.Libs.NLog.Config.ConfigSectionHandler, Transformalize"/>
  </configSections>

  <transformalize>
    <processes>
      <!-- you can put process instructions in here if you want -->
    </processes>
  </transformalize>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets async="true">
      <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} | ${message}"/>
      <target name="file" xsi:type="File" fileName="${basedir}/logs/tfl-${date:format=yyyy-MM-dd}.log" layout="${date:format=HH\:mm\:ss} | ${message}"/>
      <target name="mail" xsi:type="Mail" smtpServer="x" from="x" subject="Tfl Error!" to="x"/>
    </targets>

    <rules>
      <logger name="tfl" minlevel="Info" writeTo="console"/>
      <logger name="tfl" minlevel="Info" writeTo="file"/>
      <logger name="tfl" minlevel="Error" writeTo="mail"/>
    </rules>

  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

</configuration>
