<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="transformalize" type="Transformalize.Configuration.TransformalizeConfiguration, Transformalize"/>
    <section name="nlog" type="Transformalize.Libs.NLog.Config.ConfigSectionHandler, Transformalize"/>
  </configSections>

  <transformalize>
    <processes>
      <!-- you can put process instructions in here if you want -->
    </processes>
  </transformalize>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets async="true">

      <target name="file" xsi:type="File" fileName="${basedir}/logs/tfl-${gdc:item=process}-${date:format=yyyy-MM-dd}.log" layout="${date:format=HH\:mm\:ss} | ${level} | ${gdc:item=process} | ${gdc:item=entity} | ${message}"/>
      <target xsi:type="BufferingWrapper" name="mailBuffer" slidingTimeout="True" bufferSize="100" flushTimeout="120000">
        <target name="mail" xsi:type="Mail" smtpServer="x" from="x" subject="Tfl Error!" to="x"/>
      </target>
      <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} | ${level} | ${gdc:item=process} | ${gdc:item=entity} | ${message}"/>

      <target name="file-output" xsi:type="File" fileName="${basedir}/output/${gdc:item=output}-${date:format=yyyy-MM-dd}.log" layout="${message}"/>
      <target xsi:type="BufferingWrapper" name="buffered-mail-output" slidingTimeout="True" bufferSize="100" flushTimeout="120000">
        <target name="mail-output" xsi:type="Mail" smtpServer="change-me" from="change-me" subject="${gdc:item=subject}" to="change-me" layout="${message}"/>
      </target>

    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="console"/>
      <logger name="*" minlevel="Info" writeTo="file"/>
      <logger name="*" minlevel="Error" writeTo="mail"/>
      
      <logger name="file-output" minLevel="Info" writeTo="file-output"/>
      <logger name="buffered-mail-output" minLevel="Info" writeTo="buffered-mail-output"/>
    </rules>

  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

</configuration>
