<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cfg-NET" version="0.3.7" targetFramework="net45" />
  <package id="Microsoft.AnalysisServices" version="11.0.2100.60" targetFramework="net451" />
  <package id="MySql.Data" version="6.9.8" targetFramework="net45" />
  <package id="Npgsql" version="3.0.3" targetFramework="net45" />
</packages>