<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cfg-NET" version="0.10.4" targetFramework="net452" />
  <package id="gmaps-api-net" version="0.14.51" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="NGeoHash.Portable" version="1.0.0" targetFramework="net452" />
</packages>