<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <UserName>dalenewman</UserName>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <RegistryUrl>https://registry.hub.docker.com/dalenewman</RegistryUrl>
    <PublishImageTag>0.10.13</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <DockerDefaultTargetOS>Linux</DockerDefaultTargetOS>
    <DockerfileBuildArguments>--build-arg BASE_IMAGE=mcr.microsoft.com/dotnet/runtime:6.0 --build-arg BUILD_IMAGE=mcr.microsoft.com/dotnet/sdk:6.0</DockerfileBuildArguments>
  </PropertyGroup>
</Project>