<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cfg-NET" version="0.7.4" targetFramework="net45" />
  <package id="Cfg-NET.Environment" version="0.0.3" targetFramework="net45" />
  <package id="Cfg-NET.Reader" version="0.1.1" targetFramework="net45" />
  <package id="Cfg-NET.Shorthand" version="0.0.6" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="ExcelDataReader" version="2.1.2.3" targetFramework="net45" />
  <package id="Jint" version="2.8" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="RazorEngine" version="3.8.2" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="SolrNet" version="0.5.0.1001" targetFramework="net45" />
</packages>