<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cfg-NET" version="0.8.2" targetFramework="net452" />
  <package id="Cfg-NET.Environment" version="0.1.1" targetFramework="net452" />
  <package id="Cfg-NET.Reader" version="0.2.4" targetFramework="net452" />
  <package id="Cfg-NET.Shorthand" version="0.1.1" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net452" />
  <package id="Elasticsearch.Net" version="2.4.6" targetFramework="net452" />
  <package id="ExcelDataReader" version="2.1.2.3" targetFramework="net45" />
  <package id="jint" version="2.10.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="OpenXmlPowerTools" version="4.5.3.0" targetFramework="net452" />
  <package id="OpenXMLSDK-MOT" version="2.6.0.0" targetFramework="net452" />
  <package id="RazorEngine" version="3.9.1" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="SolrNet" version="0.5.0.1001" targetFramework="net452" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net452" />
  <package id="YamlDotNet" version="3.9.0" targetFramework="net45" />
</packages>