<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cfg-NET" version="0.10.3" targetFramework="net452" />
  <package id="Cfg-NET.Environment" version="0.3.2" targetFramework="net452" />
  <package id="Cfg-NET.Reader" version="0.3.3" targetFramework="net452" />
  <package id="Cfg-NET.Shorthand" version="0.2.11" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net452" />
  <package id="DateMath" version="1.0.0" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net452" />
  <package id="Elasticsearch.Net" version="5.6.0" targetFramework="net452" />
  <package id="ExcelDataReader" version="3.1.0" targetFramework="net452" />
  <package id="Flurl" version="2.7.1" targetFramework="net452" />
  <package id="Jint" version="2.11.23" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="NReco.LambdaParser" version="1.0.7" targetFramework="net452" />
  <package id="OpenXmlPowerTools" version="4.5.3.2" targetFramework="net452" />
  <package id="OpenXMLSDK-MOT" version="2.7.1" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="SolrNet" version="0.5.0.1001" targetFramework="net452" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net452" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net452" />
</packages>