<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cfg-NET" version="0.14.0-beta" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="4.0.8" targetFramework="net462" developmentDependency="true" />
  <package id="NLog" version="5.0.1" targetFramework="net462" />
</packages>