<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="transformalize" type="Transformalize.Configuration.TransformalizeConfiguration, Transformalize" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>

  <transformalize>
    <processes>
      <add name="Test" output="OrderDetail" time="Time">
        <connections>
          <add name="input" value="Server=localhost;Database=TestInput;Trusted_Connection=True;"/>
          <add name="output" value="Server=localhost;Database=TestOutput;Trusted_Connection=True;"/>
        </connections>
        <entities>
          <add name="OrderDetail" connection="input" version="RowVersion">
            <keys>
              <add name="OrderDetailKey" type="System.Int32"></add>
            </keys>
            <fields>
              <add name="OrderKey" type="system.Int32"></add>
              <add name="ProductKey" type="System.Int32"></add>
              <add name="Qty" alias="Quantity" type="System.Int32" ></add>
              <add name="Price" type="System.Decimal" precision="10" scale="5"></add>
              <add name="Properties">
                <xml xPath="/Properties/">
                  <add xPath="Color" index="1"></add>
                  <add xPath="Size"></add>
                  <add xPath="Gender"></add>
                </xml>
              </add>
              <add name="RowVersion" type="System.Byte[]" length="8" output="false"></add>
            </fields>
          </add>
          <add name="Order" connection="input" version="RowVersion">
            <keys>
              <add name="OrderKey" type="System.Int32"></add>
            </keys>
            <fields>
              <add name="CustomerKey" type="System.Int32"></add>
              <add name="OrderDate" type="System.DateTime"></add>
              <add name="RowVersion" type="System.Byte[]" length="8" output="false"></add>
            </fields>
          </add>
          <add name="Customer" connection="input" version="RowVersion">
            <keys>
              <add name="CustomerKey" type="System.Int32"></add>
            </keys>
            <fields>
              <add name="First" alias="FirstName" length="50"></add>
              <add name="Last" alias="LastName" length="50"></add>
              <add name="Address" length="100"></add>
              <add name="City" length="50"></add>
              <add name="State" length="2"></add>
              <add name="Country" length="2"></add>
              <add name="RowVersion" type="System.Byte[]" length="8" output="false"></add>
            </fields>
          </add>
          <add name="Product" connection="input" version="RowVersion">
            <keys>
              <add name="ProductKey" type="System.Int32"></add>
            </keys>
            <fields>
              <add name="Name" alias="ProductName" length="100"></add>
              <add name="RowVersion" type="System.Byte[]" length="8" output="false"></add>
            </fields>
          </add>
        </entities>
        <joins>
          <add leftEntity="OrderDetail" leftField="OrderKey" rightEntity="Order" rightField="OrderKey"></add>
          <add leftEntity="OrderDetail" leftField="ProductKey" rightEntity="Product" rightField="ProductKey"></add>
          <add leftEntity="Order" leftField="CustomerKey" rightEntity="Customer" rightField="CustomerKey"></add>
        </joins>
      </add>
    </processes>
  </transformalize>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="false">
      <target name="file" xsi:type="File" fileName="${basedir}/nlog/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/Transformalize.log" layout="${date:format=HH\:mm\:ss} | ${level} | ${message}" />
      <target xsi:type="BufferingWrapper" name="mailBuffer" slidingTimeout="True" bufferSize="100" flushTimeout="120000">
        <target name="mail" xsi:type="Mail" smtpServer="mail.mwf.local" from="dnewman@scope-services.com" subject="Transformalize Error!" to="dnewman@scope-services.com" />
      </target>
      <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} | ${level} | ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="console" />
      <logger name="*" minlevel="Info" writeTo="file" />
      <logger name="*" minlevel="Error" writeTo="mail" />
    </rules>
  </nlog>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>  

</configuration>