<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net452" />
  <package id="Cfg-NET" version="0.6.7" targetFramework="net452" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net452" />
  <package id="Nancy" version="1.4.3" targetFramework="net452" />
  <package id="Nancy.Bootstrappers.Autofac" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net452" />
</packages>